@font-face {
    font-family: "mabinogi";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/mabinogi/mabinogi.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/mabinogi/mabinogi.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/mabinogi/mabinogi.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/mabinogi/mabinogi.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/mabinogi/mabinogi.ttf") format("truetype");
    font-display: swap;
}
.mabinogi {
    font-family: "mabinogi";
}